@inherits LayoutComponentBase
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4 auth">
            @if (bool.Parse(Configuration["AppSettings:IsDemoMode"]))
            {
                <span class="alert-danger">DEMO SITE</span>
                <a href="https://FoodForUsAll.com" class="alert-info">RETURN TO "FOOD FOR US ALL"</a>
            }
            else
            {
                <LoginDisplay />
            }
            <a href="About" target="_blank">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
