<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href=""><img src="images/FoodForUsAll-Banner.gif" width="160" height="40" alt="Food For Us All" /></a>
</div>

<ul class="nav flex-column">
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="MyRecipes"> My Recipes</NavLink>
    </li>
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="MyGroceries"> My Groceries</NavLink>
    </li>
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="Recipes"> Community Recipes</NavLink>
    </li>
    <li><hr /></li>
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="SendSurveys"> Send Surveys</NavLink>
    </li>
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="ReviewSurveys"> Review Surveys</NavLink>
    </li>
</ul>