@page "/MyIngredients"
@inherits UI.Pages.MyIngredientsModel

<div class="main">
    <div style="margin-bottom: 20px;">
        My Ingredients
    </div>
    <hr class="text-dark bg-dark" />
    <div style="margin-bottom: 20px;">
        PLACEHOLDER
    </div>
</div>