@page
@model UI.Pages.AboutModel

<h1>What is "Food For Us All"?</h1>

<br />

<p>
    "Food For Us All" is your home for creating recipes to share with your friends, family and co-workers.
    Use our "Food Survey" functionality to find out what their preferences, dislikes and allergies are
    so that you can create the perfect meal, appetizer, or snack to make everyone happy.
</p>

<br /><br /><br />

<p>Email <a href="mailto:bfwissel@yahoo.com">bfwissel@yahoo.com</a> if you have any feedback or would like to contribute.</p>
