@page "/"
@model UI.Pages.HomeModel

<div class="container px-4 px-lg-5">
    <div class="row align-items-center">
        <div class="col-3">
            <a class="navbar-brand" href="#!"><img id="logo" src="images/FoodForUsAll.jpg" /></a>
        </div>
        <div class="col-9">
            <h3>
                Welcome to your home for creating recipes to share with your friends, family and co-workers!
            </h3>
        </div>
    </div>
</div>
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="/images/Ingredients/pexels-nicole-michalou-6061574.jpg" alt="..." /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">What're We About?</h1>
            <p>
                "Food For Us All" is a place to easily enter your recipes with the ability to share them with
                both those you love as well as others in the community. It is your choice!
                <br />
                Use the "Food Survey" functionality to find what people's preferences, dislikes and allergies
                are so that you can create the perfect meal, appetizer, or snack to make everybody happy.
            </p>
            <a class="btn btn-primary" href="Identity/Account/Register">Register Now!</a>
        </div>
    </div>
    <div class="divider py-1 bg-secondary"><br /></div>
    <div class="row gx-4 gx-lg-5">
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Ingredients</h2>
                    <p class="card-text"><img class="img-fluid rounded mb-4 mb-lg-0" src="/images/Ingredients/pexels-oleg-magni-890507.jpg" alt="..." /></p>
                    <p>Enter in your recipe with ingredients and generate grocery lists to make sure nothing is missed when you're making your favorite dish.</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Recipes</h2>
                    <p class="card-text"><img class="img-fluid rounded mb-4 mb-lg-0" src="/images/Dishes/pexels-marvin-ozz-2474661.jpg" alt="..." /></p>
                    <p>Easily enter in and share your favorite recipes via our highly customizable interface.</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Surveys</h2>
                    <p class="card-text"><img class="img-fluid rounded mb-4 mb-lg-0" src="/images/Dishes/pexels-abhinav-goswami-291528.jpg" alt="..." /></p>
                    <p>Send one or more recipes to friends, family and coworkers to find out what their preferences are so that you can make a dish everyone will enjoy.</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
            </div>
        </div>
    </div>
</div>