@page "/"

<h1>Food For Us All</h1>

Welcome to your home for creating recipes to share with your friends, family and co-workers.
Use our "Food Survey" functionality to find out what their preferences, dislikes and allergies are
so that you can create the perfect meal, appetizer, or snack to make everyone happy.

<SurveyPrompt Title="Would you like to provide feedback?" />
