@page "/Index"

<div class="container">
    <div class="row align-items-center">
        <div class="col-3">
            <img src="images/FoodForUsAll.jpg" />
        </div>
        <div class="col-9">
            <h3>
                Create and Share
            </h3>
        </div>
    </div>
</div>
<div>
    <SurveyPrompt Title="Would you like to provide feedback?" />
</div>