@page "/MyGroceries"
@inherits UI.Pages.MyGroceriesModel

<div class="main">
    <div style="margin-bottom: 20px;">
    </div>
    <hr class="text-dark bg-dark" />
    <div style="margin-bottom: 20px;">
    </div>
</div>