@page "/MyRecipes"
@inherits UI.Pages.MyRecipesModel

<div class="main">
    <div style="margin-bottom: 20px;">
        <MyRecipeList />
    </div>
    <hr class="text-dark bg-dark" />
    <div style="margin-bottom: 20px;">
        <CascadingValue Name="RecipeId" Value="@RecipesState.RecipeId">
            <CascadingValue Name="IsEditable" Value="@RecipesState.IsEditable">
                <RecipeEditor />
            </CascadingValue>
        </CascadingValue>
    </div>
</div>