@page "/MyRecipeList"
@inherits UI.Pages.MyRecipeListModel
@using Domain;

<EditForm Model="Recipe">
<div style="margin-bottom: 20px;">
@if (!AddNewRecipeIsVisible)
{
    <InputText @bind-Value=@SearchString /><button @onclick="(async () => Search())">Search</button> <button @onclick="(async () => SetAddNewRecipeIsVisible())">Add New Recipe</button>
}
else
{
    <div>
        New Recipe Name: <InputText @bind-Value=@NewRecipeName />
        <button @onclick="(() => SetAddNewRecipeNotVisible())">Cancel</button>
        <button @onclick="(() => AddNewRecipe())">Add</button>
    </div>
}
</div>

<h3>My Recipe List</h3>

<div class="main">
@if (Recipes.Count > 0)
{
<div style="margin-bottom: 20px;" class="container">
<div class="row gx-4 gx-lg-5">
    @foreach (Recipe recipe in Recipes)
    {
    <div title="@recipe.ToString()" class="col-md-3 mb-5">
        <div class="card h-80" @onclick='() => ViewRecipe(recipe.Id)'>
            <div class="card-body">
                <p class="card-text"><img class="img-fluid rounded mb-4 mb-lg-0" src="data:image/bmp;base64, @((recipe.PrimaryImage.Image != null)?Convert.ToBase64String(recipe.PrimaryImage.Image):"")" alt="..." /></p>
                <span>@recipe.Name</span>
            </div>
        </div>
        <button type="button" class="btn btn-primary btn-sm" @onclick='() => EditRecipe(recipe.Id)'>Edit</button>
    </div>
    }
</div>
</div>
}
else
{
    <span>None found with "@SearchString" in the recipe name or description.</span>
}
</div>
</EditForm>