@page "/MyRecipeList"
@inherits UI.Pages.MyRecipeListModel
@using Domain;

<EditForm Model="Recipe">
<div style="margin-bottom: 20px;">
@if (!AddNewRecipeIsVisible)
{
    <div class="row">
        <div class="col-md-6 col-lg-4">
            <InputText @bind-Value=@SearchString /> <button @onclick="(async () => Search())">Search</button>
        </div>
        <div class="col-md-3 col-lg-6"></div>
        <div class="col-md-3 col-lg-2">
            <button @onclick="(async () => SetAddNewRecipeIsVisible())">Add Recipe</button>
        </div>
    </div>
}
else
{
    <div>
        New Recipe Name: <InputText @bind-Value=@NewRecipeName />
        <button @onclick="(() => SetAddNewRecipeNotVisible())">Cancel</button>
        <button @onclick="(() => AddNewRecipe())">Add</button>
    </div>
}
</div>

<h3>My Recipe List</h3>

<div class="main">
@if (Recipes != null && Recipes.Count > 0)
{
<div style="margin-bottom: 20px;" class="container">
<div class="row gx-4 gx-lg-5">
    @foreach (Recipe recipe in Recipes)
    {
    <div title="@recipe.ToString()" class="col-md-3 mb-5">
        <div class="card h-80" @onclick='() => ViewRecipe(recipe.Id)'>
            <div class="card-body">
                <p class="card-text"><img class="img-fluid rounded mb-4 mb-lg-0" src="@((recipe.PrimaryImage != null && recipe.PrimaryImage.Image != null)?"data:image/bmp;base64, "+Convert.ToBase64String(recipe.PrimaryImage.Image):((IsDemoMode)?@"images\AvailableInFullVersion.jpg":@"images\ImageMissing.jpg"))" /></p>
                <span>@recipe.Name</span>
            </div>
        </div>
        <button type="button" class="btn btn-primary btn-sm" @onclick='() => EditRecipe(recipe.Id)'>Edit</button>
    </div>
    }
</div>
</div>
}
else if (!String.IsNullOrEmpty(SearchString))
{
    <span>None found with "@SearchString" in the recipe name or description.</span>
}
</div>
</EditForm>