@page "/Recipes"
@inherits UI.Pages.RecipesModel

<div class="main">
    <div style="margin-bottom: 20px;">
        Community Recipes
    </div>
    <hr />
    <div style="margin-bottom: 20px;">
        PLACEHOLDER
    </div>
</div>