@page "/ReviewSurveys"
@inherits UI.Pages.ReviewSurveysModel

<div class="main">
    <div style="margin-bottom: 20px;">
        Review Surveys
    </div>
    <hr />
    <div style="margin-bottom: 20px;">
        PLACEHOLDER
    </div>
</div>