@page "/SendSurveys"
@inherits UI.Pages.SendSurveysModel

<div class="main">
    <div style="margin-bottom: 20px;">
        Send Surveys
    </div>
    <hr />
    <div style="margin-bottom: 20px;">
        PLACEHOLDER
    </div>
</div>